<div id="login" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
	<div class="panel panel-primary transparent">
		<div class="panel-body">
			<div class="alert-info" ng-show="auth_error"></div>
			<form class="form input-group-sm" ng-submit="authenticate()">
				<div class="form-group">
					<input class="form-control" placeholder="User Name"
						type="text" ng-model="credentials.username" style="min-width: 100px;">
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="Password"
						type="password" ng-model="credentials.password" style="min-width: 100px;">
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>